.container{
  max-width: 400px;
  max-height: 1500px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px rgb(155, 154, 154);
  margin-top: 50px;
  padding: 15px 50px;
}
.textCenter{
  text-align: center;
}
.expenceContainer{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px rgb(155, 154, 154);;
}
.transactionForm input{
  width: 100%;
  height: 20%;
  margin: 10px 0;
  padding: 5px;

}
.transactionList{
  margin:0;
  padding: 0;
}
.transactionList >li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(155, 154, 154);
  margin: 5px;
  padding: 8px 5px;
  background-color: white;
  border-radius: 4px;

}
.addTransaction{
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}